/*!***************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[12].use[3]!./styles/navbar.css ***!
  \***************************************************************************************************************************************************************************************************************************************************************/
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

.nav-container-navbar {
  width: 100%;
  height: 5rem;
  align-items: center;
  background-color: #EFEFEF;
  display: flex;
  position: fixed;
  justify-content: center;
  padding-left: 2rem;
  padding-right: 2rem;
  top: 2.5rem; /* Ajustar para la altura del topbar */
  z-index: 100;
  border-bottom: solid #55555521 0.5px;
  transition: transform 0.3s ease; /* Transición más suave */
}

#list2 {
  display: none;
}

a {
  text-decoration: none;
}

.div-container-content-nav {
  width: 90%;
  height: auto;
  display: flex;
  position: fixed;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
}

.img-logo {
  font-family: Raleway, Arial, Helvetica, sans-serif;
  font-weight: 900;
  font-size: 35px;
  color: #304770;
}
.img-logo::first-letter {
  text-transform: uppercase;
}

.img-logo span {
  color: #45aaff;
}

.ul-navbar {
  display: flex;
  width: 50%;
  list-style: none;
  background-color: #efefef;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.ul-navbar .li {
  margin: auto;
  font-family: Raleway, Arial, Helvetica, sans-serif;
  font-weight: 600;
  font-size: 14px;
  color: #444;
}

.ul-navbar li:hover {
  color: #45aaff;
}

.scrolled {
  transform: translateY(-2.5rem); /* Mover el navbar hacia arriba junto con el topbar */
}

.menu {
  display: none;
}

@media (max-width: 1055px) {
  #list {
    display: none;
  }

  #list2 {
    flex-direction: column;
    position: absolute;
    right: 0;
    width: 100%;
    height: 300px;
    background-color: #EFEFEF;
    top: 0;
    transform: translateY(5rem);
    display: none;

  }
  .scrolled {
    transform: translateY(0); /* Mover el navbar hacia arriba junto con el topbar */
  }

  #list2 a {
    width: 100%;
    display: flex;
    height: 100%;
    list-style: none;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    color: #444;
    border: #44444461 solid 0.1px;
    font-weight: 800;
    font-family: 'Raleway' Arial, Helvetica, sans-serif;
    cursor: pointer;
    animation: backwards;
  }

  #list2 a:hover {
    color: #45aaff;
    background-color: #495d83fc;
  }

  .hidden {
    display: none;
    flex-direction: column;
    height: 300px;
    width: 100px;
  }

  .img-logo {
    font-size: 30px;
  }

  .menu {
    display: block;
    z-index: 600;
  }

  .nav-container-navbar {
    padding-right: 0;
  }
  



}

/*!****************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[12].use[3]!./styles/welcome.css ***!
  \****************************************************************************************************************************************************************************************************************************************************************/
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');


.container-welcome{
    background-color: #EFEFEF;
    padding: 5%;
    width: 100%;
    height: 480px;
    padding-top: 100px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    position: relative;
    
}

.container-welcome::after{
    z-index: 10;
    position: absolute;
    content: "";
    left: 50%;
    bottom: -40px;
    border-left: 49vw solid  #EFEFEF;
    border-bottom: 40px solid transparent;
   
}
.container-welcome::before{
    z-index: 10;
    right: 50%;
    bottom: -40px;
    position: absolute;
    content: "";
    border-left: 49vw solid transparent;
    border-top: 40px solid  #EFEFEF;
    
}



.seccion-bienvenida {
    position: relative;
    padding-bottom: 50px; /* Ajusta según la altura de la onda */
}







.container-welcomr-div{
    width: 60%;
    height: 300px;
    text-align: left;
}

.welcome{
    font-size: 40px;
    font-family:  Raleway, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 900;
    color: #323232;
}


.p1, .p2, .p3{
    font-family:  Raleway, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 15px;
    font-weight: 500;
    color: #323232;
}
.p2{
    margin-top: 40px;
}

.p3{
    margin-top: 20px;
    
}

.welcome-subtitle{
    margin-top: 20px;
    font-size: 20px;
    font-weight: 900;
    color: #323232;
    font-family:  Raleway, "Helvetica Neue", Helvetica, Arial, sans-serif;
}



.img{
    width: 100%;
    height: 200px;
    justify-self: center;
    right: 0;
    top: 0;
    border: none;
    position: absolute;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("/img/laboratorio.png");
}

.content-img-bienvenido{
    
    width: 380px;
    height: 290px;
    right: 5%;
    bottom: 40px;
    position: absolute;
    background-color: #45AAFF;
    text-align: center;
    padding-top:220px ;
    overflow: hidden;
    cursor: pointer;
}

.content-img-bienvenido::after {
    content: "MORE";
    position: absolute;
    bottom: -30px; /* Inicialmente, fuera del elemento */
    left: 50%; /* Alineado al centro */
    transform: translateX(-50%); /* Centra horizontalmente */
    width: 100px;
    height: 30px;
    background-color: #273e66;
    text-align: center;
    line-height: 30px; /* Centra verticalmente */
    color: white;
    opacity: 0; /* Inicialmente transparente */
    transition: bottom 0.3s, opacity 0.3s; /* Animación suave */
}

.content-img-bienvenido:hover::after {
    bottom: 0; /* Muestra el elemento al hacer hover */
    opacity: 1; /* Hace visible el elemento */
}
.img-p{
  position: relative;
  font-weight: bold;
  color: white;

}
.img-apan{
    position: relative;
    color: white;
}

@media (max-width: 1084px) {
  
    .container-welcome{
        display: flex;
        flex-direction: column;
        height: auto;
        justify-content: center;
        justify-items: center;
    }
    .container-welcomr-div{
        width: 100%;
        text-align: justify;
        height: min-content;
        margin-left: auto;
        margin-right: auto;
    }
    .content-img-bienvenido{
        position: relative;
        margin-top: 50px;
        top: 0;
        bottom: 0;
        left: 0;
        margin-left: auto;
        margin-right: auto;
        max-width: 90%;
    }
    


}
/*!*********************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[12].use[3]!./styles/personalPlan.css ***!
  \*********************************************************************************************************************************************************************************************************************************************************************/
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');


.main-container-personalPlan {
  width: 100%;
  height: 500px;
  background-image: url("https://healthflex.plethorathemes.com/wp-content/uploads/2013/06/doctor_blue_left.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  justify-content: center;
  display: flex;
  align-items: center;
}
.main-container-personalPlan ::after{
    position: absolute;
  content: "";
  left: 50%;
bottom: 0;
  border-left: 49vw solid  #304770;
  border-top: 40px solid transparent;
   
}
.main-container-personalPlan ::before{
    right: 50%;
    bottom: 0;
    position: absolute;
    content: "";
    border-left: 49vw solid transparent;
    border-bottom: 40px solid  #304770;
    
}

.main-container-personalPlan .coso {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgb(40, 60, 94, 0.5);
  opacity: 0.9;
}

.container-text{
    width: 80%;
    height: 240px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    z-index: 11;
}

.title-personalPlan{
    color: white;
    font-size: 40px;
    font-weight: 900;
    font-family: Raleway, Arial, Helvetica, sans-serif;
}

.span-personalPlan{
    color: white;
    font-size: 15px;
    font-weight: normal;
    font-family: Raleway, Arial, Helvetica, sans-serif;
}

.boton-plan{
    width: 240px;
    height: 50px;
    background-color: #5cb85c;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
}
.cuadro-personalPlan{
    width: 50px;
    height: 50px;
    background-color: #357935;
}

.reques-plan{
    color: whitesmoke;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
}
/*!***************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[12].use[3]!./styles/topbar.css ***!
  \***************************************************************************************************************************************************************************************************************************************************************/
/* topbar.css */
.div-main-topbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 101;
  background-color: #efefef;
  transform: translateY(0%);
  transition: transform 0.3s ease; /* Transición suave */
}

.hidden {
  transform: translateY(-100%); /* Ocultar la barra superior desplazándola hacia arriba */
}

.link {
  text-decoration: none;
  color: #444;
}

.div-container-topbar {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  height: 2.5rem;
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ccd5dc;
}

.ul-container-topbar {
  list-style: none;
}

.list-topbar {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  font-family: Raleway, Arial, Helvetica, sans-serif;
  font-weight: 300;
  color: #444;
}

.ul-left {
  display: flex;
  margin-right: auto;
}

.ul-right {
  margin-left: auto;
}


@media (max-width:1055px) {
  /* topbar.css */
.div-main-topbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 101;
  background-color: #efefef;
  transform: translateY(0%);
  transition: transform 1s ease; /* Transición suave */
  display: none;
}
.nav-container-navbar{
  top: 0;
  padding-left: 0;
  justify-content: space-around;
}
  
.hidden {
  transform: translateY(0%); /* Ocultar la barra superior desplazándola hacia arriba */

  }
}
/*!**********************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[3]!./styles/carrucel.module.css ***!
  \**********************************************************************************************************************************************************************************************************************************************************************/
/* carrucel.module.css */

@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

.carrucel_divCarrucelContainer___obOy {
    position: relative;
    width: 100%;
    height: 110vh;
    overflow: hidden;
}

.carrucel_divCarrucelContainer___obOy::after {
    top: 0;
    content: "";
    width: 100%;
    height: 80px;
    background-color: #EFEFEF;
    position: absolute;
}

.carrucel_contentRotation__NilMb {
    display: flex;
    width: 100%;
    animation: carrucel_rotation__7f6Uj 40s infinite;
}

.carrucel_imgCarrucel__ncpIj {
    top: 0;
    left: 0;
    width: 100%;
    height: 110vh;
}

.carrucel_imgContainer__h8QQC {
    position: relative;
    flex: 0 0 100%;
    height: 110vh;
    width: 300vw;
}

.carrucel_publish__HGZgr {
    position: absolute;
    width: 45%;
    height: 300px;
    background: linear-gradient(rgb(0, 0, 0, 0.5), rgb(0, 0, 0, 0.5));
    bottom: 0;
    right: 5%;
    top: 40%;
    padding: 1%;
    animation: carrucel_view__TWjCQ 40s infinite;
}

.carrucel_titlePublish__yaJMS {
    color: #EFEFEF;
    font-size: 50px;
    font-weight: 900;
    font-family: 'Raleway', Arial, Helvetica, sans-serif;
}

.carrucel_contentSubtitlePublish__BiR2B {
    width: -moz-fit-content;
    width: fit-content;
    height: 50px;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
}

.carrucel_subtitlePublish__b1xtg {
    font-size: 26px;
    font-family: 'Raleway', Arial, Helvetica, sans-serif;
    color: #EFEFEF;
}

.carrucel_linePublish__qwZdz {
    width: 100%;
    height: 8px;
    background-color: #45aaff;
}

.carrucel_pPublish__cGU0l {
    margin-top: 16px;
    margin-bottom: 16px;
    font-family: 'Raleway', Arial, Helvetica, sans-serif;
    font-size: normal;
    color: #EFEFEF;
    display: block;
}

.carrucel_botonPublish__Qkx_v {
    padding: 8px 24px;
    background-color: #45aaff;
    text-decoration: none;
    font-family: 'Raleway', Arial, Helvetica, sans-serif;
    color: #EFEFEF;
}

@keyframes carrucel_view__TWjCQ {
    0% { transform: translateY(100%); opacity: 0; display: block; }
    5% { transform: translateX(5%); opacity: 1; display: block; }
    20% { transform: translateX(-5%); opacity: 1; display: block; }
    22% { transform: translateX(5%); opacity: 1; }
    44% { transform: translateX(-5%); opacity: 1; }
    80% { transform: translateX(5%); opacity: 1; }
    100% { transform: translateY(100%); opacity: 0; display: block; }
}

@keyframes carrucel_rotation__7f6Uj {
    0% { transform: translateX(0); }
    20% { transform: translateX(0); }
    25% { transform: translateX(-100%); }
    45% { transform: translateX(-100%); }
    50% { transform: translateX(-200%); }
    70% { transform: translateX(-200%); }
    75% { transform: translateX(-300%); }
    100% { transform: translateX(-300%); }
}

@media (max-width: 1155px) {
    .carrucel_publish__HGZgr {
        width: 80%;
        height: auto;
        margin-left: auto;
        margin-right: auto;
        animation: carrucel_lock__6Hgby 20s infinite;
    }

    @keyframes carrucel_lock__6Hgby {
        0% { transform: translateY(100%); opacity: 0; display: block; }
        44% { transform: translateX(-5%); opacity: 1; display: block; }
        60% { transform: translateX(5%); opacity: 1; display: block; }
        70% { transform: translateX(-10%); opacity: 1; display: block; }
        80% { transform: translateX(5%); opacity: 1; display: block; }
        100% { transform: translateY(100%); opacity: 0; display: block; }
    }

    .carrucel_divCarrucelContainer___obOy {
        height: 89vh;
        padding-top: 12vh;
    }

    .carrucel_imgCarrucel__ncpIj {
        height: 77vh;
    }
}

/*!*******************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[3]!./styles/cards.module.css ***!
  \*******************************************************************************************************************************************************************************************************************************************************************/
/* cards.module.css */

.cards_cardsContainer__Wl0lw {
    margin-top: -20px;
    margin-left: auto;
    margin-right: auto;
    height: 250px;
    width: 100%;
    padding-left: 5%;
    padding-right: 5%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(1, 1fr);
  }
  
  .cards_card__7UuFu {
    text-decoration: none;
    color: #EFEFEF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 200px; /* Asegúrate de que las tarjetas tengan la misma altura */
  }
  
  .cards_card1__pUiXY {
    background-color: #088EFF;
    grid-column: 1;
  }
  
  .cards_card1__pUiXY::before {
    content: "";
    position: absolute;
    top: -22px;
    left: 0;
    border-top: 22px transparent solid;
    border-left: 22.2vw #088EFF solid;
  }
  
  .cards_card1__pUiXY::after {
    content: "";
    position: absolute;
    bottom: -22px;
    left: 0;
    border-bottom: 22px transparent solid;
    border-left: 22.2vw #088EFF solid;
    z-index: 10;
  }
  
  .cards_card2__nIxqE {
    background-color: #269CFF;
    grid-column: 2;
  }
  
  .cards_card2__nIxqE::before {
    content: "";
    position: absolute;
    top: -22px;
    right: 0;
    border-top: 22px transparent solid;
    border-right: 22.2vw #269CFF solid;
  }
  
  .cards_card2__nIxqE::after {
    content: "";
    position: absolute;
    bottom: -22px;
    right: 0;
    border-bottom: 22px transparent solid;
    border-right: 22.2vw #269CFF solid;
    z-index: 10;
  }
  
  .cards_card3__ave2n {
    background-color: #45AAFF;
    grid-column: 3;
  }
  
  .cards_card3__ave2n::before {
    content: "";
    position: absolute;
    top: -22px;
    left: 0;
    border-top: 22px transparent solid;
    border-left: 22.2vw #45AAFF solid;
  }
  
  .cards_card3__ave2n::after {
    content: "";
    position: absolute;
    bottom: -22px;
    left: 0;
    border-bottom: 22px transparent solid;
    border-left: 22.2vw #45AAFF solid;
    z-index: 10;
  }
  
  .cards_card4__GgWb_ {
    background-color: #64B8FF;
    grid-column: 4;
  }
  
  .cards_card4__GgWb_::before {
    content: "";
    position: absolute;
    top: -22px;
    right: 0;
    border-top: 22px transparent solid;
    border-right: 22.2vw #64B8FF solid;
  }
  
  .cards_card4__GgWb_::after {
    content: "";
    position: absolute;
    bottom: -22px;
    right: 0;
    border-bottom: 22px transparent solid;
    border-right: 22.2vw #64B8FF solid;
    z-index: 10;
  }
  
  .cards_text1__KrQ_p {
    color: #EFEFEF;
    font-family: Raleway, Arial, Helvetica, sans-serif;
    font-weight: 900;
  }
  
  .cards_text2__DAapo {
    color: #EFEFEF;
    font-family: Raleway, Arial, Helvetica, sans-serif;
    font-size: 14px;
  }
  
  @media (max-width: 1155px) {
    .cards_card1__pUiXY::after, .cards_card2__nIxqE::after, .cards_card3__ave2n::after, .cards_card4__GgWb_::after,
    .cards_card1__pUiXY::before, .cards_card2__nIxqE::before, .cards_card3__ave2n::before, .cards_card4__GgWb_::before {
      display: none;
    }
  
    .cards_cardsContainer__Wl0lw {
      height: auto;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(2, 1fr);
      padding: 0;
      margin: 0;
    }
  
    .cards_card1__pUiXY {
      grid-column: 1;
      grid-row: 1;
    }
  
    .cards_card2__nIxqE {
      grid-column: 2;
      grid-row: 1;
    }
  
    .cards_card3__ave2n {
      grid-column: 1;
      grid-row: 2;
    }
  
    .cards_card4__GgWb_ {
      grid-column: 2;
      grid-row: 2;
    }
  }
  
/*!*********************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[3]!./styles/MedicalDepartaments.module.css ***!
  \*********************************************************************************************************************************************************************************************************************************************************************************/
/* MedicalDepartaments.module.css */

.MedicalDepartaments_contentMedical__I1InX {
  position: relative;
  padding-bottom: 100px;
  padding-top: 140px;
  width: 100%;
  padding-left: 5%;
  padding-right: 5%;
  background-color: #304770;
  box-sizing: border-box;
}

.MedicalDepartaments_contentMedical__I1InX::after {
  position: absolute;
  content: "";
  left: 50%;
  bottom: 0;
  border-left: 49vw solid #EFEFEF;
  border-top: 40px solid transparent;
}

.MedicalDepartaments_contentMedical__I1InX::before {
  right: 50%;
  bottom: 0;
  position: absolute;
  content: "";
  border-left: 49vw solid transparent;
  border-bottom: 40px solid #EFEFEF;
}

.MedicalDepartaments_titleMedical__Av_6X {
  color: white;
  font-size: 39px;
  font-weight: 900;
  margin-bottom: 10px;
  font-family: 'Raleway', "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.MedicalDepartaments_subTitleMedical__afDBh {
  font-size: 18px;
  font-weight: normal;
  color: #e3e6ec;
  font-family: 'Raleway', "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.MedicalDepartaments_divContainerCardsMedical__XukLK {
  display: flex;
  margin-top: 40px;
  flex-direction: row;
  width: 70%;
}

.MedicalDepartaments_cardsMedical__daq_E {
  cursor: pointer;
  position: relative;
  width: 226px;
  height: 252px;
  background-color: whitesmoke;
  margin-right: 30px;
  display: flex;
  flex-direction: column;
}

.MedicalDepartaments_cardsMedical__daq_E::before {
  background-color: #45AAFF;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  position: absolute;
  content: "";
  height: 6px;
  width: 80px;
}

.MedicalDepartaments_cardsMedical__daq_E:hover::before {
  cursor: pointer;
  background-color: #45AAFF;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  position: absolute;
  content: "MORE";
  height: 18px;
  width: 80px;
  color: white;
  text-align: center;
  font-size: 10px;
  padding-top: 5px;
  font-weight: 700;
  font-family: 'Raleway', "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.MedicalDepartaments_imgMedical__dhBC8 {
  width: 100%;
  height: 150px;
}

.MedicalDepartaments_span1Medical__ylgF2 {
  margin-top: 24px;
  margin-left: auto;
  margin-right: auto;
  font-family: 'Raleway', "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 900;
  color: #323232;
}

.MedicalDepartaments_span2Medical__Ppywu {
  margin-left: auto;
  margin-right: auto;
  font-family: 'Raleway', "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
  font-size: small;
  margin-top: 5px;
}

.MedicalDepartaments_containerCardTextMedical__eYNK1 {
  display: flex;
  height: auto;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.MedicalDepartaments_titleMedicalH6__GSvBu {
  color: white;
  font-size: 18px;
  font-weight: 900;
  font-family: 'Raleway', "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.MedicalDepartaments_lineContentMedical__vSLTk {
  margin-top: 20px;
  margin-bottom: 10px;
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.MedicalDepartaments_lineMedical__vRyXb {
  width: 140px;
  border-top: white solid 1px;
  border-bottom: white solid 1px;
}

.MedicalDepartaments_pMedical__L7Vaz {
  color: white;
  text-align: left;
  font-weight: 400;
  font-family: 'Raleway', "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 15px;
  margin-bottom: 48px;
}

.MedicalDepartaments_rectangleContentMedical__oKk3A {
  display: flex;
  width: 100%;
  height: 40px;
  background-color: #45aaff;
  margin-top: 14px;
  align-items: center;
  justify-content: space-between;
}

.MedicalDepartaments_imMedical__VGx3s {
  width: 40px;
  height: 100%;
  background-color: #0079de;
  background-image: url("/img/sitemap-512.png");
  background-size: 60%;
  background-position: center;
  background-repeat: no-repeat;
}

.MedicalDepartaments_checkMedical__OyiNg {
  width: auto;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  color: white;
  font-family: 'Raleway', "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 700;
}

@media (max-width: 1055px) {
  .MedicalDepartaments_containerCardTextMedical__eYNK1 {
    display: flex;
    flex-direction: column;
  }
  .MedicalDepartaments_cardsMedical__daq_E {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
  }
  
  .MedicalDepartaments_divContainerCardsMedical__XukLK {
    display: flex;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    flex-direction: column;
    padding: 0;
    width: 100%;
    box-sizing: border-box;
  }

  .MedicalDepartaments_contentMedical__I1InX {
    min-height: auto;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 100px;
  }
  
  .MedicalDepartaments_rectangleContentMedical__oKk3A {
    height: auto;
  }

  .MedicalDepartaments_checkMedical__OyiNg {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
  }
}

@media (max-width: 1055px) {
  .MedicalDepartaments_cardsMedical__daq_E {
    width: 90%;
    height: 75vh;
  }

  .MedicalDepartaments_imgMedical__dhBC8 {
    height: 52vh;
  }

  .MedicalDepartaments_imMedical__VGx3s {
    height: 60px;
    width: 10%;
    position: absolute;
    background-image: url("/img/sitemap-512.png");
    display: block;
  }

  .MedicalDepartaments_titleMedical__Av_6X {
    font-size: 29px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
  .MedicalDepartaments_subTitleMedical__afDBh {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    justify-content: center;
  }

  .MedicalDepartaments_span1Medical__ylgF2 {
    font-size: 22px;
  }

  .MedicalDepartaments_span2Medical__Ppywu {
    font-size: 16px;
  }
}

/*!******************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[3]!./styles/FeactureServices.module.css ***!
  \******************************************************************************************************************************************************************************************************************************************************************************/
/* FeactureServices.module.css */

@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

.FeactureServices_spna1Feactures__yMSTf {
    margin-top: 10px;
    font-family: 'Raleway';
    font-weight: 700;
    color: #444;
}

.FeactureServices_span2Feactures__zyszw {
    font-family: 'Raleway';
    font-weight: 700;
    color: #444;
}

.FeactureServices_feactureServicesContainer__DQfBH {
    position: relative;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 120px;
    width: 100%;
    height: 700px;
    background-color: #EFEFEF;
}

.FeactureServices_feactureServicesContainer__DQfBH::after {
    z-index: 10;
    position: absolute;
    content: "";
    left: 50%;
    bottom: -40px;
    border-left: 49vw solid #EFEFEF;
    border-bottom: 40px solid transparent;
}

.FeactureServices_feactureServicesContainer__DQfBH::before {
    z-index: 10;
    right: 50%;
    bottom: -40px;
    position: absolute;
    content: "";
    border-right: 49vw solid #EFEFEF;
    border-bottom: 40px solid transparent;
}

.FeactureServices_titleFeactureServices__61yh7 {
    color: #323232;
    font-size: 39px;
    font-weight: 900;
    font-family: 'Raleway', Arial, Helvetica, sans-serif;
}

.FeactureServices_spanFeactureServices__DH3Xs {
    font-family: 'Raleway', Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-size: 18px;
    margin-top: 5px;
}

.FeactureServices_allCardText__h5r_m {
    margin-top: 50px;
    width: 100%;
    height: 400px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
}

.FeactureServices_primeCardContent__C46ps {
    padding-right: 4%;
    width: 68%;
    height: 400px;
    display: flex;
    flex-direction: column;
}

.FeactureServices_secondCardContent__ht14M {
    width: 32%;
    height: 400px;
}

.FeactureServices_cardsContent__sv9Po {
    width: 100%;
    height: 60%;
    display: flex;
    justify-content: space-between;
}

.FeactureServices_cardsFeactures__OnmoJ {
    width: 220px;
    height: 100%;
    background-color: #EFEFEF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    position: relative;
    cursor: pointer;
    border: solid 1px #45aaff;
}

.FeactureServices_cardsFeactures__OnmoJ::before {
    content: "";
    color: transparent;
    bottom: 0;
    position: absolute;
    width: 100px;
    height: 5px;
    background-color: #45aaff;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    z-index: 10;
}

.FeactureServices_cardsFeactures__OnmoJ:hover::before {
    color: white;
    transition: 0.5s ease;
    content: "MORE";
    bottom: 0;
    position: absolute;
    width: 100px;
    height: 20px;
    background-color: #45aaff;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    z-index: 10;
}

.FeactureServices_imgFeactures__BO1Ri {
    width: 100px;
    height: 100px;
    margin-left: auto;
    margin-right: auto;
}

.FeactureServices_textContentBelow__aPJtQ {
    padding-top: 9px;
    width: 100%;
    height: 40%;
}

.FeactureServices_textContentBelow__aPJtQ p {
    width: auto;
    font-size: 15px;
    font-weight: 400;
    font-family: 'Raleway', "Helvetica Neue", Helvetica, Arial, sans-serif;
    height: 80%;
}

.FeactureServices_contentRectangle__nFe_W {
    color: white;
    display: flex;
    width: 300px;
    height: 38px;
    background-color: #45aaff;
    justify-content: space-between;
    align-items: center;
}

.FeactureServices_logo__7Ip_7 {
    width: 38px;
    height: 38px;
    background-color: #0079de;
    background-image: url("/img/i_pathology.png");
    background-size: 80%;
    background-repeat: no-repeat;
    background-position: center;
}

.FeactureServices_checkout__mmu68 {
    font-size: 14px;
    font-family: 'Raleway', Arial, Helvetica, sans-serif;
    margin-right: 5%;
}

.FeactureServices_titleSecondCardsContainer__DxLoR {
    display: flex;
    width: 100%;
    height: 50px;
    align-items: center;
    justify-content: space-between;
}

.FeactureServices_titleSecond__6Ps6O {
    font-family: 'Raleway', Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: 900;
    color: #323232;
}

.FeactureServices_separadorSecond__BpeFK {
    border-top: solid #323232 0.5px;
    width: 200px;
}

.FeactureServices_containerHours__XgKpm {
    width: 100%;
    height: auto;
}

.FeactureServices_hours__zWSC_ {
    color: #323232;
    font-family: 'Raleway', Arial, Helvetica, sans-serif;
    font-weight: 700;
    line-height: 1.5;
    border-top: solid #72707032 01px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 26px;
    font-size: 14px;
}

.FeactureServices_text__ACpR_ {
    font-size: 15px;
    font-family: 'Raleway', Arial, Helvetica, sans-serif;
    font-weight: normal;
}

@media (max-width: 700px) {
    .FeactureServices_feactureServicesContainer__DQfBH {
        height: auto;
        display: flex;
        flex-direction: column;
    }

    .FeactureServices_allCardText__h5r_m {
        display: flex;
        align-items: center;
        justify-content: space-around;
        height: auto;
        flex-direction: column;
        padding: 0;
    }

    .FeactureServices_primeCardContent__C46ps {
        width: 100%;
        padding-right: 0;
    }

    .FeactureServices_cardsContent__sv9Po {
        display: flex;
        justify-content: center;
    }

    .FeactureServices_secondCardContent__ht14M {
        width: 100%;
        margin-top: 50px;
    }

    .FeactureServices_textContentBelow__aPJtQ {
        height: auto;
        padding-top: 9px;
    }
}

/*!********************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[3]!./styles/Footer.module.css ***!
  \********************************************************************************************************************************************************************************************************************************************************************/
/* Footer.module.css */

@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

.Footer_footerContainer__p7jil {
    padding-top: 100px;
    width: 100%;
    height: 500px;
    position: relative;
    display: flex;
    background-color: #304770;
}

.Footer_content1Footer__zjRKn {
    width: 48%;
    height: 300px;
    padding: 0 5%;
}

.Footer_content2Footer__jbg_G {
    width: 40%;
    height: 300px;
    display: flex;
    padding-left: 10%;
    flex-direction: column;
    padding-top: 30px;
}

.Footer_titleFooter__H_1ub span {
    color: #45aaff;
}

.Footer_titleFooter__H_1ub {
    font-size: 50px;
    font-family: Raleway, Arial, Helvetica, sans-serif;
    font-weight: 900;
    color: white;
}

.Footer_descriptionFooter__vgdTE {
    font-size: 15px;
    font-family: Raleway, Arial, Helvetica, sans-serif;
    font-weight: normal;
    color: white;
    margin-top: 20px;
    margin-bottom: 20px;
}

.Footer_contactos__n2pyR {
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    color: white;
    margin-top: 5px;
}

.Footer_contactos__n2pyR span {
    margin-left: 2%;
}

.Footer_imgFooter__P6t3F {
    width: 40px;
    height: 40px;
    background-color: #323232;
}

.Footer_subtitleFooter__ZJE1q {
    left: 0;
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    padding-right: 10%;
}

.Footer_spanTitleFooter__g31S_ {
    font-size: 20px;
    font-family: Raleway, Arial, Helvetica, sans-serif;
    font-weight: 900;
    color: white;
}

.Footer_lineFooter__rb8TQ {
    width: 40%;
    border-top: 1px solid white;
    margin-left: 5%;
}

.Footer_socialMedia__f45LU {
    width: 100%;
    height: 100px;
    display: flex;
}

.Footer_imgSocialMedia__vvPNg {
    width: 40px;
    height: 40px;
    list-style: none;
}

.Footer_link__2dc7Z {
    color: white;
}

.Footer_listaFooter__88Bco {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: white;
    font-family: Raleway, Arial, Helvetica, sans-serif;
    font-size: normal;
    list-style: none;
    margin-bottom: 10px;
}

.Footer_listaFooter__88Bco li:hover {
   color: #45aaff;
}

.Footer_solis1__tjs1H {
    background-image: url("/img/icons8-facebook-48.png");
    background-size: cover;
}

.Footer_solis2__CqE1a {
    background-image: url("/img/gmail.png");
    background-size: cover;
}

.Footer_solis3__FISKG {
    background-image: url("/img/icons8-whatsapp-48.png");
    background-size: cover;
}

.Footer_solis4__XjpK1 {
    background-image: url("/img/icons8-instagram-48.png");
    background-size: cover;
}

@media (max-width: 1055px) {
    .Footer_content1Footer__zjRKn {
        width: auto;
    }

    .Footer_titleFooter__H_1ub {
        width: auto;
    }

    .Footer_content2Footer__jbg_G {
        width: 100%;
        padding-left: 0;
    }
}

@media (max-width: 600px) {
    .Footer_footerContainer__p7jil {
        padding-top: 20px;
        height: 600px;
    }

    .Footer_socialMedia__f45LU {
        flex-direction: row;
    }

    .Footer_titleFooter__H_1ub {
        font-size: 24px;
    }

    .Footer_content1Footer__zjRKn {
        width: 51%;
    }
}

/*!***************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[12].use[3]!./styles/styles.css ***!
  \***************************************************************************************************************************************************************************************************************************************************************/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
