.divCarrucelContainer {
    position: relative;
    width: 100%;
    height: 110vh;
    overflow: hidden;
}

.contentRotation {
    display: flex;
    width: 100%;
    transition: transform 1s ease;
}

.imgContainer {
    flex: 0 0 100%;
    width: 100%;
}

.imgCarrucel {
    width: 100%;
    height: 110vh;
    object-fit: cover;
}

.publish {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 45%;
    height: 300px;
    background: rgba(0, 0, 0, 0.5); /* Fondo semitransparente */
    backdrop-filter: blur(10px); /* Efecto de desenfoque de fondo */
    padding: 1%;
    color: #EFEFEF;
    animation: view 40s infinite;
}

.titlePublish {
    font-size: 44px;
    font-weight: 900;
    font-family: 'Raleway', Arial, Helvetica, sans-serif;
}

.contentSubtitlePublish {
    width: fit-content;
    height: 50px;
    display: flex;
    flex-direction: column;
}

.subtitlePublish {
    font-size: 26px;
    font-family: 'Raleway', Arial, Helvetica, sans-serif;
}

.linePublish {
    width: 100%;
    height: 8px;
    background-color: #45aaff;
}

.pPublish {
    margin-top: 16px;
    margin-bottom: 16px;
    font-family: 'Raleway', Arial, Helvetica, sans-serif;
    font-size: normal;
    display: block;
}

.botonPublish {
    padding: 8px 24px;
    background-color: #45aaff;
    text-decoration: none;
    font-family: 'Raleway', Arial, Helvetica, sans-serif;
    color: #EFEFEF;
}

@keyframes view {
    0% { transform: translateY(100%); opacity: 0; }
    5% { transform: translateY(0); opacity: 1; }
    20% { transform: translateY(0); opacity: 1; }
    22% { transform: translateY(0); opacity: 1; }
    44% { transform: translateY(0); opacity: 1; }
    80% { transform: translateY(0); opacity: 1; }
    100% { transform: translateY(100%); opacity: 0; }
}

@media (max-width: 1155px) {
    .publish {
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        top: 30%;
        height: auto;
        padding: 2%; /* Ajustar el padding en pantallas más pequeñas */
        font-size: 14px; /* Ajustar el tamaño del texto */
        animation: lock 20s infinite;
    }

    @keyframes lock {
        0% { transform: translateY(100%); opacity: 0; }
        44% { transform: translateY(0); opacity: 1; }
        60% { transform: translateY(0); opacity: 1; }
        70% { transform: translateY(0); opacity: 1; }
        80% { transform: translateY(0); opacity: 1; }
        100% { transform: translateY(100%); opacity: 0; }
    }

    .divCarrucelContainer {
        height: 64vh;
        padding-top: 6vh;
    }

    .imgCarrucel {
        height: 58vh;
    }
}

@media (max-height: 800px) and (max-width: 700px) {
    .publish {
        width: 90%; /* Aumentar el ancho en pantallas muy pequeñas */
        bottom: 5%; /* Ajustar la posición desde el fondo */
        padding: 2%; /* Aumentar el padding */
    }

    .titlePublish {
        font-size: 24px; /* Reducir el tamaño del título */
    }

    .subtitlePublish {
        font-size: 16px; /* Reducir el tamaño del subtítulo */
    }

    .pPublish {
        font-size: 12px; /* Reducir el tamaño del texto del párrafo */
    }

    .linePublish {
        height: 4px; /* Reducir la altura de la línea */
    }
}

@media (max-width: 1025px) and (min-width: 500px) {
    .imgCarrucel {
        height: 81vh;
    }
}
