@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

.content-medical {
  position: relative;
  padding-bottom: 100px;
  padding-top: 140px;
  width: 100%;
  padding-left: 5%;
  padding-right: 5%;
  background-color: #304770;
  box-sizing: border-box;
}

.content-medical::after {
  position: absolute;
  content: "";
  left: 50%;
  bottom: 0;
  border-left: 49vw solid #EFEFEF;
  border-top: 40px solid transparent;
}

.content-medical::before {
  right: 50%;
  bottom: 0;
  position: absolute;
  content: "";
  border-left: 49vw solid transparent;
  border-bottom: 40px solid #EFEFEF;
}

.title-medical {
  color: white;
  font-size: 39px;
  font-weight: 900;
  margin-bottom: 10px;
  font-family: 'Raleway', "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.sub-title-medical {
  font-size: 18px;
  font-weight: normal;
  color: #e3e6ec;
  font-family: 'Raleway', "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.div-container-cards-medical {
  display: flex;
  margin-top: 40px;
flex-direction: row;
  width: 70%;
}

.cards-medical {
  cursor: pointer;
  position: relative;
  width: 226px;
  height: 252px;
  background-color: whitesmoke;
  margin-right: 30px;
  display: flex;
  flex-direction: column;
}

.cards-medical::before {
  background-color: #45AAFF;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  position: absolute;
  content: "";
  height: 6px;
  width: 80px;
}

.cards-medical:hover::before {
  cursor: pointer;
  background-color: #45AAFF;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  position: absolute;
  content: "MORE";
  height: 18px;
  width: 80px;
  color: white;
  text-align: center;
  font-size: 10px;
  padding-top: 5px;
  font-weight: 700;
  font-family: 'Raleway', "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.img-medical {
  width: 100%;
  height: 150px;
}

.span1-medical {
  margin-top: 24px;
  margin-left: auto;
  margin-right: auto;
  font-family: 'Raleway', "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 900;
  color: #323232;
}

.span2-medical {
  margin-left: auto;
  margin-right: auto;
  font-family: 'Raleway', "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
  font-size: small;
  margin-top: 5px;
}

.container-card-text-medical {
  display: flex;
  height: auto;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.title-medical-h6 {
  color: white;
  font-size: 18px;
  font-weight: 900;
  font-family: 'Raleway', "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.line-content-medical {
  margin-top: 20px;
  margin-bottom: 10px;
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.line-medical {
  width: 140px;
  border-top: white solid 1px;
  border-bottom: white solid 1px;
}

.p-medical {
  color: white;
  text-align: left;
  font-weight: 400;
  font-family: 'Raleway', "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 15px;
  margin-bottom: 48px;
}

.rectangle-content-medical {
  display: flex;
  width: 100%;
  height: 40px;
  background-color: #45aaff;
  margin-top: 14px;
  align-items: center;
  justify-content: space-between;
}

.im-medical {
  width: 40px;
  height: 100%;
  background-color: #0079de;
  background-image: url("/img/sitemap-512.png");
  background-size: 60%;
  background-position: center;
  background-repeat: no-repeat;
}

.check-medical {
  width: auto;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  color: white;
  font-family: 'Raleway', "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 700;
}

@media (max-width: 1055px) {
  .container-card-text-medical {
    display: flex;
    flex-direction: column;
  }
  .cards-medical{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
  }
  
  .div-container-cards-medical {
    display: flex;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    flex-direction: column;
    padding: 0;
    width: 100%;
    box-sizing: border-box;
  }

  .content-medical {
    min-height: auto;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 100px;
  }
  
  .rectangle-content-medical {
    height: auto;
    
  }

  .check-medical{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
  
  }
}

@media (max-width: 1055px) {
  .cards-medical{
    width: 90%;
    height: 75vh;
  }

  .img-medical{
    height: 52vh;
  }

  .im-medical{
    height: 60px;
    width: 10%;
    position: absolute;
    background-image: url("/img/sitemap-512.png");
    display: block;
  }

  .title-medical{
    font-size: 29px;
    margin-left: auto;
    margin-right: auto ;
    text-align: center;
  }
  .sub-title-medical{
    display: flex;
    margin-left: auto;
    margin-right: auto ;
    text-align: center;
    justify-content: center;
  }

  .span1-medical{
    font-size: 22px;
  }

  .span2-medical{
    font-size: 16px;
  }
}
