/* topbar.css */
.div-main-topbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 101;
  background-color: #efefef;
  transform: translateY(0%);
  transition: transform 0.3s ease; /* Transición suave */
}

.hidden {
  transform: translateY(-100%); /* Ocultar la barra superior desplazándola hacia arriba */
}

.link {
  text-decoration: none;
  color: #444;
}

.div-container-topbar {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  height: 2.5rem;
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ccd5dc;
}

.ul-container-topbar {
  list-style: none;
}

.list-topbar {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  font-family: Raleway, Arial, Helvetica, sans-serif;
  font-weight: 300;
  color: #444;
}

.ul-left {
  display: flex;
  margin-right: auto;
}

.ul-right {
  margin-left: auto;
}


@media (max-width:1055px) {
  /* topbar.css */
.div-main-topbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 101;
  background-color: #efefef;
  transform: translateY(0%);
  transition: transform 1s ease; /* Transición suave */
  display: none;
}
.nav-container-navbar{
  top: 0;
  padding-left: 0;
  justify-content: space-around;
}
  
.hidden {
  transform: translateY(0%); /* Ocultar la barra superior desplazándola hacia arriba */

  }
}